.game {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;

  @include small {
    padding: 2rem;
    gap: 5rem;
    padding-bottom: 10rem;
    overflow: hidden;
  }

  .rules {
    @include font-uppercase;
    font-size: 120%;
    color: white;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    padding: 0.7rem 2.5rem;
    width: fit-content;
    position: absolute;
    bottom: 4rem;
    right: 4rem;

    @include small {
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 100%;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;

    &.visible {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
