.token {
  width: fit-content;
  position: absolute;

  width: 8.5rem;
  height: 8.5rem;

  @include small {
    width: 6.5rem;
    height: 6.5rem;
  }

  img {
    height: 50%;
  }

  .white {
    background-color: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0.9rem 0.05rem -0.5rem rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include small {
      box-shadow: inset 0 0.8rem 0.05rem -0.5rem rgba(0, 0, 0, 0.1);
    }
  }

  .color {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &.rock {
    top: 100%;
    left: 80%;
    transform: translate(-50%, -50%);

    .color {
      @include token-color($rock-red-start, $rock-red-end);
    }

    &.selected {
      .color {
        @include token-color($rock-red-start, $rock-red-end, true);
      }
    }
  }

  &.paper {
    top: 37%;
    left: 100%;
    transform: translate(-50%, -50%);

    .color {
      @include token-color($paper-blue-start, $paper-blue-end);
    }

    &.selected {
      .color {
        @include token-color($paper-blue-start, $paper-blue-end, true);
      }
    }
  }

  &.scissors {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    .color {
      @include token-color($scissors-yellow-start, $scissors-yellow-end);
    }

    &.selected {
      .color {
        @include token-color(
          $scissors-yellow-start,
          $scissors-yellow-end,
          true
        );
      }
    }
  }

  &.lizard {
    top: 100%;
    left: 20%;
    transform: translate(-50%, -50%);

    .color {
      @include token-color($lizard-purple-start, $lizard-purple-end);
    }

    &.selected {
      .color {
        @include token-color($lizard-purple-start, $lizard-purple-end, true);
      }
    }
  }

  &.spock {
    top: 37%;
    left: 0;
    transform: translate(-50%, -50%);

    .color {
      @include token-color($spock-cyan-start, $spock-cyan-end);
    }

    &.selected {
      .color {
        @include token-color($spock-cyan-start, $spock-cyan-end, true);
      }
    }
  }

  &.selected {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 15rem;
    height: 15rem;
    opacity: 0;
    transition: opacity 1s ease;

    @include small {
      width: 7rem;
      height: 7rem;
    }

    .white {
      box-shadow: inset 0 1.1rem 0.05rem -0.5rem rgba(0, 0, 0, 0.1);
    }

    &.visible {
      display: block;
      opacity: 1;
    }
  }
}
